*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
# Системные файлы
.DS_Store
.idea/
*.iml

# Android
/build
/local.properties
.gradle/

# iOS
/ios/Pods/
/ios/build/
/ios/Podfile.lock
